@media(max-width: 1580px) {
  html {
    font-size: 18px;
  }
  .unbehaved-element {
    font-size: 1.9em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width:959px) {
  #container{
    width: 100%
  }
  #left-column{
    width: 70%;
  }
  #right-column{
    width: 30%;
  }
  img{
    width: 100%;
  }
}
@media screen and (max-width:640px) {
  #left-column{
    width: 100%;
  }
  #right-column{
    width: 100%;
  }
}
@media screen and (max-width:320px) {
  #container{
    width: 320px;
  }
}